<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tv Shows</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
</head>
<body class="bg-dark">
    <div class="d-flex justify-content-between align-items-center text-light border border-light py-2 px-5">
        <h1 class="text-center">{{tvshow.title}}</h1>
        <div>
            <a href="/dashboard" class="btn btn-info">Home</a>
            <a href="/logout" class="btn btn-danger">Logout</a>
        </div>
    </div>
    <div class="container mt-4"> 
        <table class="table table-light table-striped">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Type</th>
                    <th>Genre</th>
                    <th>Platform</th>
                    <th>Rating</th>
                    <th>Release Date</th>
                    <th>Description</th>
                    <th>Posted by</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{tvshow.title}}</td>
                    <td>{{tvshow.type}}</td>
                    <td>{{tvshow.genre}}</td>
                    <td>{{tvshow.platform}}</td>
                    <td>{{tvshow.rating}}</td>
                    <td>{{tvshow.release_date}}</td>
                    <td>{{tvshow.description}}</td>
                    <td>{{tvshow.owner.first_name}}</td>
                    <td><button class="btn btn-success" onclick="addLike('#like')"><span id="like">2</span> likes</button></td>
                    
                    
                </tr>
            </tbody>

        </table>
    </div>
     <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>